<div class="contenedor">
    <div class="contenedor-banner">
        <h1>Descubre la magia en cada pétalo</h1>
        <p>Conecta con la belleza de la naturaleza y transforma momentos en recuerdos inolvidables</p>
    </div>
    <div class="contenedor-introduccion">
        <div class="imagen"></div>
        <div class="contenedor-frase">        
            <h2>Bienvenidos al Bosque de Artemisa</h2>
            <p>
                En Bosque de Artemisa, nos inspiramos en la perfección de la naturaleza para crear ramos de flores que cautivan los sentidos. Cada arreglo floral cuenta una historia, diseñada para expresar emociones, celebrar momentos especiales y llenar de belleza cualquier rincón.
                Creemos en la delicadeza y el cuidado, seleccionando las flores más frescas y creando combinaciones únicas que reflejan nuestro amor por el arte floral.            
                Déjate envolver por nuestra pasión por las flores.
            </p>
        </div>
    </div>
</div>

